/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This ensures padding does not affect total width */
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    padding-top: 70px; /* Space for the fixed header, adjust as needed */
}

/* Header styles */
header {
    background-color: darkred;
    color: white;
    position: fixed;
    top: 0;
    left: 0; /* Added to ensure the header extends to the left edge */
    width: 100%;
    z-index: 1000;
    transition: padding 0.3s, transform 0.3s, top 0.3s; /* Smooth transition for the header */
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: darkred; /* Ensure background color fills nav */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px; /* Add padding for better clickability */
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Scroll effect */
header.scrolling-active {
    padding: 5px 0;
}

header.scrolling-active nav ul li a {
    transform: scale(0.9);
}

/* Hide header on scroll down */
header {
    transition: top 0.3s; /* Smooth transition for hiding and showing the header */
}
